<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_straight01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight10.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,82},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,162},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,162},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>lord_anim_straight14.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,162},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>straight.png</string>
            <key>size</key>
            <string>{842,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8732dc1885c9674cefcf8c1633791ac3:4dfd81c5b942868949386f650cacf8a0:203c8de14f8e1bfa5c3ad2e572454a03$</string>
            <key>textureFileName</key>
            <string>straight.png</string>
        </dict>
    </dict>
</plist>
