<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/cards/card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>common/cards/card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1724,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e855591cbb34cbe0c0de5465b78cb87:56da7bfdaa15805c2b51bb929b0ef413:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
