<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_chainpairs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs11.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs12.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>lord_anim_chainpairs14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,97},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chainpairs.png</string>
            <key>size</key>
            <string>{1528,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6317ddf1f24ddad6d25e368d2973e5:41bbc461bd65b9307ec7d4dedc12919f:d103a7ccaedf3e238c4fba03da36ec52$</string>
            <key>textureFileName</key>
            <string>chainpairs.png</string>
        </dict>
    </dict>
</plist>
