<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_bomb_frame01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame11.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,309},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,616},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame17.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,616},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame18.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,616},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
            <key>lord_anim_bomb_frame19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,616},{286,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,305}}</string>
                <key>sourceSize</key>
                <string>{286,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb.png</string>
            <key>size</key>
            <string>{2018,923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d30698ea79d9b37dcff8406cc659c44:9269acd357aa7b4f3d283102ab5ee090:4be35b031ff921caacbd927ebc46fc95$</string>
            <key>textureFileName</key>
            <string>bomb.png</string>
        </dict>
    </dict>
</plist>
