<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,77}}</string>
                <key>sourceSize</key>
                <string>{176,77}</string>
            </dict>
            <key>lord_anim_cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{353,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,153}}</string>
                <key>sourceSize</key>
                <string>{353,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cloud.png</string>
            <key>size</key>
            <string>{357,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e351d07896707073edae2f08c439c8:59e2e6e9a901c39d25f00875b17b7f07:3047d7f37c9f3f9d0775d24fd6dfbdfe$</string>
            <key>textureFileName</key>
            <string>cloud.png</string>
        </dict>
    </dict>
</plist>
