<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_plane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{379,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,254}}</string>
                <key>sourceSize</key>
                <string>{379,254}</string>
            </dict>
            <key>lord_anim_plane02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{379,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,254}}</string>
                <key>sourceSize</key>
                <string>{379,254}</string>
            </dict>
            <key>lord_anim_plane03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{379,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,254}}</string>
                <key>sourceSize</key>
                <string>{379,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{383,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30cf22361ce3833b356f761215d37c00:fe156e882f5647466bfb66f423de8580:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
