<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_changetolordorfarmer01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer04.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer05.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer06.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>lord_anim_changetolordorfarmer10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changetolordorfarmer.png</string>
            <key>size</key>
            <string>{1962,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea31d65e27bcc285eef0bac725381ff3:90eea6cf68f7827833a45eeb21630705:6c9179110ec0ca6f6bfa0fe5b83d88f5$</string>
            <key>textureFileName</key>
            <string>changetolordorfarmer.png</string>
        </dict>
    </dict>
</plist>
