<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lord_anim_rocket_yan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,268},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,534},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,800},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1066},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1332},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
            <key>lord_anim_rocket_yan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1598},{592,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,264}}</string>
                <key>sourceSize</key>
                <string>{592,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke.png</string>
            <key>size</key>
            <string>{1190,1864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac588f7da01657fa3c48b3fe390ee0c5:9a800228120d1beb199788c0ce5c3ccf:5eb108908104ef4a3a5a35f25c6e2c00$</string>
            <key>textureFileName</key>
            <string>smoke.png</string>
        </dict>
    </dict>
</plist>
